# Generic
.DS_Store
Thumbs.db
*.log

# Java / Maven
/target/
**/target/
*.class
/.mvn/

# IDEs and editors
.idea/
.vscode/
*.iml

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates


node_modules/
dist/


.env
*.env

oracleJdk-26/
backend/oracleJdk-26/

build_apk/
*.apk